<h1>Create New Sub!</h1>

<form action="<%= subs_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


    <label>Title
      <input type="text" name="sub[title]" value="">
    </label>

    <label>Description
      <textarea name="sub[description]" rows="8" cols="80"></textarea>
    </label>

    <input type="submit" name="" value="Create Sub">
</form>
