<h1>Create New Post!</h1>

<form action="<%= posts_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <% @subs.each do |sub| %>
      <label><%= sub.title %>
        <input type="checkbox"
                value="<%= sub.id %>"
                name="post[sub_ids][]">
      </label>
    <% end %>

    <label>Title
      <input type="text" name="post[title]" value="">
    </label>

    <label>Content
      <textarea name="post[content]" rows="8" cols="80"></textarea>
    </label>

    <label>URL
      <input type="text" name="post[url]" value="">
    </label>

    <input type="submit" name="" value="Create Post">
</form>
